<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Supermercado</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/index.css') }}"
    >

</head>

<body>

<header>

    <h1>🛒 Supermercado</h1>

    <h2>Sistema de gestión</h2>

</header>


<main class="menu">

    <div class="menu-links">

        <a
            href="{{ url_for('login') }}"
            class="btn-link"
        >
            🔐 Administrador
        </a>


        <a
            href="{{ url_for('caja') }}"
            class="btn-link"
        >
            🛒 Caja
        </a>


        <a
            href="{{ url_for('gestion') }}"
            class="btn-link"
        >
            📦 Gestión de productos
        </a>

    </div>


    <a
        href="{{ url_for('gestion') }}"
        class="boton"
    >
        📦 Gestión de productos
    </a>


    <a
        href="{{ url_for('caja') }}"
        class="boton"
    >
        🛒 Caja
    </a>

</main>


</body>

</html>